@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,600;1,800&display=swap');

body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family:'Poppins',sans-serif ;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    
}
a{
    color: white;
}
a:hover{
    color: rgb(132, 14, 201);
}
#login{
    padding: 10px;
    border: 2px solid rgb(132, 14, 201);
    border-radius: 20px;
}
h1{
    font-weight: 300;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{

    
    font-size: 50px;
    line-height: 10px;
}
p{
   font-weight: 100;
}
span{
    color: rgb(132, 14, 201);
}
form{
    display: flex;
    flex-direction: column; 
    margin-right: 0;
}
input{
    margin: 20px;
    margin-left: 0;
    border-radius: 15px;
    height: 45px;
    border: 0;
}
#btn{
    color: white;
    background-color: rgb(132, 14, 201);
    width: 70px;
}